.about-cat {
  @include zero-indent;
  margin: 0 auto 24px;
  width: 320px;
  padding-left: 20px;
  padding-right: 20px;

  border: none;
}

@-moz-document url-prefix("") {
  .about-cat {
    margin-bottom: 22px;
  }
}

.about-cat__list {
  @include no-list;
  display: flex;
  flex-direction: column;
  min-height: 164px;
}

.about-cat__item {
  display: flex;
  align-items: center;
}

.about-cat__item:not(:last-child) {
  margin-bottom: 15px;
}

.about-cat__input {
  @include input-text;
  outline-style: none;

  &:hover {
    border: 1px solid #cdcdcd;
  }

  &:invalid {
    border: 2px solid #ff8282;
  }

  &:active,
  &:focus {
    border: 2px solid #444444;
  }
}

.about-cat__input[placeholder] {
  @include placeholder;
}

.about-cat__label {
  @include form-label;
  margin-right: 15px;
}

@media (min-width: $tablet-width) {
  .about-cat {
    width: 768px;
    padding-left: 71px;
    padding-right: 68px;
    margin-bottom: 74px;
  }

  .about-cat__list {
    min-height: 195px;
  }

  .about-cat__item:not(:last-child) {
    margin-bottom: 20px;
  }

  .about-cat__label {
    @include form-label--tablet;
    margin-right: 19px;
  }

  .about-cat__input {
    min-height: 52px;
    padding-left: 20px;
  }

  .about-cat__input[placeholder] {
    @include placeholder--tablet;
  }
}

@media (min-width: $desktop-width) {
  .about-cat {
    padding: 0;
    padding-left: 2px;
    width: 570px;
    margin-right: 80px;
  }

  .about-cat__list {
    min-height: 197px;
  }
}
