.address {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
}

.address__street,
.address__city {
  @include zero-indent;

  line-height: 20px;
  font-family: "Arial", sans-serif;
  color: #444444;
}
