.aim {
  @include zero-indent;
  margin-bottom: 31px;

  border: 1px solid #ededed;
}

.aim__list {
  @include no-list;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 158px;
  padding-top: 22px;
  padding-bottom: 21px;
}

.aim__label {
  @include form-label;
  padding-left: 65px;
}

@media (min-width: $tablet-width) {
  .aim {
    margin-bottom: 71px;
    margin-right: 40px;
    margin-left: 40px;
  }

  .aim__list {
    min-height: 196px;
    padding-top: 36px;
    padding-bottom: 33px;
  }

  .aim__label {
    @include form-label--tablet;
    padding-left: 88px;
  }
}

@media (min-width: $desktop-width) {
  .aim {
    width: 570px;
  }
}
