.catalog {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  margin: 0 auto;
}

.catalog__heading {
  margin: 0;
  padding-top: 31px;
  padding-bottom: 35px;
  width: 100%;

  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  text-align: center;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}

.catalog__main {
  width: 280px;
}

.catalog__list {
  @include no-list;
}

.catalog__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item__link {
  flex-grow: 0;
}

.item__wrapper {
  flex-grow: 1;
}

.product__link {
  text-decoration: none;
}

.product__name {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #111111;
}

.item__button {
  @include button;
  flex-basis: 100%;
  font-size: 16px;
  line-height: 20px;
}

.item__button--more {
  background-color: #f2f2f2;
  color: #444444;
}

.product__properties {
  width: 100%;
  font-size: 12px;
  line-height: 16px;
  font-family: Arial, sans-serif;
}

.product__value {
  text-align: right;
}

.item--more {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item__show-more {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

.item__more-flavors {
  font-size: 12px;
  line-height: 16px;
  font-family: Arial, sans-serif;
  color: #444444;
}
