.comment {
  @include zero-indent;
  margin-bottom: 31px;

  border: none;
}

.comment__legend {
  font-size: 24px;
  line-height: 24px;

  margin-bottom: 30px;
}

.comment__input {
  @include placeholder;
  padding-top: 15px;
  min-width: 280px;

  text-align: center;

  border: 1px solid #e6e6e6;

  resize: none;
}

@media (min-width: $tablet-width) {
  .comment {
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 63px;
  }

  .comment__legend {
    @include form-legend--tablet;

    margin-bottom: 75px;
  }

  .comment__input {
    @include placeholder--tablet;
    padding-top: 15px;
    padding-left: 20px;
    min-width: 100%;

    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .comment {
    width: 100%;
  }
}
