.credit {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-top: 22px;
}

.credit__name {
  font-size: 16px;
  line-height: 16px;
  font-family: "Arial", sans-serif;
  text-decoration: none;
  color: #444444;
}

.uppercase {
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .credit {
    width: 162px;
    padding: 0;
    margin-left: auto;
  }
}
