.credit {
  padding-top: 25px;
}

.credit__link {
  display: flex;
  align-items: center;
  width: 280px;
  padding-top: 0;

  font-size: 16px;
  line-height: 16px;
  font-family: "Arial", sans-serif;
  text-decoration: none;
  color: #444444;

  &:active {
    opacity: 0.3;
  }
}

.credit__link:hover svg,
.credit__link:focus svg {
  fill: #68b738;
}

.credit__link svg {
  margin-left: auto;
  width: 27px;
  height: 34px;

  fill: #666666;

  &:hover,
  &:focus {
    fill: #68b738;
  }
}

@media (min-width: $tablet-width) {
  .credit {
    padding: 0;
    margin-left: auto;
  }

  .credit__link {
    width: 162px;
  }
}
