.credit {
  display: flex;
  align-items: center;
  width: 280px;
  padding-top: 20px;

  font-size: 16px;
  line-height: 16px;
  font-family: "Arial", sans-serif;
  text-decoration: none;
  color: #444444;

  &:active {
    opacity: 0.3;
  }
}

.credit:hover svg,
.credit:focus svg {
  fill: #68b738;
}

.credit svg {
  margin-left: auto;
  width: 27px;
  height: 34px;

  fill: #666666;

  &:hover,
  &:focus {
    fill: #68b738;
  }
}

@media (min-width: $tablet-width) {
  .credit {
    padding: 0;
    margin-left: auto;
    width: 162px;
  }
}
