.example {
  background-color: $bg-color;
}

.example__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 280px;
  margin: 0 auto;
}

.example__title {
  @include zero-indent;
  margin-bottom: 15px;
  align-self: flex-start;

  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
}

.example__content {
  @include content-style;
  margin-bottom: 20px;
}

.example__costs {
  margin-bottom: 45px;

  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}

.example__wrapper-flex {
  width: 280px;
}

@media (min-width: $tablet-width) {
  .example {
    background: linear-gradient(#ffffff 0, #ffffff 620px, $bg-color 620px);
  }

  .example__wrapper {
    align-items: flex-start;
    width: 708px;
  }

  .example__title {
    margin-bottom: 55px;

    font-size: 60px;
  }

  .example__content {
    padding-right: 20px;

    color: #444444;
    font-size: 16px;
    line-height: 24px;
  }

  .example__costs {
    width: 201px;
    font-size: 20px;
    line-height: 20px;
    text-align: end;
  }

  .example__wrapper-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 708px;
    margin-bottom: 60px;
  }
}

@media (min-width: $desktop-width) {
  .example {
    background: linear-gradient(#ffffff 0, #ffffff 138px, $bg-color 138px);
  }

  .example__wrapper {
    flex-direction: row;
    justify-content: space-between;
    width: 1220px;
  }

  .example__desktop-column {
    display: flex;
    flex-direction: column;
    width: 570px;
  }

  .example__title {
    margin-bottom: 145px;
  }

  .example__content {
    padding-right: 135px;
    margin-bottom: 55px;
  }

  .example__costs {
    width: 330px;
  }

  .example__wrapper-flex {
    flex-direction: column;
    align-items: flex-start;
  }
}
