.example {
  background-color: $bg-color;
}

.example__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 280px;
  margin: 0 auto;
}

.example__title {
  @include zero-indent;
  margin-bottom: 15px;
  align-self: flex-start;

  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
}

.example__content {
  @include content-style;
  margin-bottom: 20px;
}

.example__costs {
  margin-bottom: 45px;

  line-height: 20px;
  text-transform: uppercase;
}
