.form__button {
  width: 280px;
  min-height: 40px;

  font: inherit;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #68b738;
  border: none;
}

.form__required {
  font-family: "Arial", sans-serif;
  line-height: 18px;
  text-align: center;
  color: #444444;
}
