.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;

  width: 65px;
  height: 65px;

  border: none;
  background-color: #ffffff;
}


@media (min-width: $tablet-width) {
  .main-nav__toggle {
    display: none;
  }

  .main-nav__wrapper {
    @include zero-indent;
  }
}
