.offer {
  position: relative;

  display: flex;
  flex-direction: column;
  text-align: center;
  width: 320px;
  margin: 0 auto;
  padding-top: 28px;

  background-image: url("../img/index-background-mobile@1x.jpg");
  background-size: 320px 305px;
  background-repeat: no-repeat;

  &::before {
    content: "";

    position: absolute;
    z-index: -1;
    top: 0;
    left: 50%;

    width: 100vw;
    height: 305px;

    background-color: #64a83b;

    transform: translateX(-50%);
  }

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/index-background-mobile@2x.jpg");
  }
}

.offer__title {
  @include zero-indent;
  margin-bottom: 25px;

  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  color: #ffffff;
}

.offer__sentence {
  @include zero-indent;
  margin-bottom: 27px;

  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  text-transform: uppercase;
}

.offer__image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 6px;
  width: 280px;
  height: 270px;
}

@-moz-document url-prefix("") {
  .offer__image {
    margin-bottom: 4px;
  }
}

.offer__button {
  @include button;
  padding-bottom: 12px;

  &:hover,
  &:focus {
    background-color: #5eaa2f;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .offer {
    width: 708px;
    min-height: 810px;
    text-align: left;
    padding-top: 30px;

    background-image: none;

    &::before {
      display: none;
    }
  }

  .offer__title {
    order: -3;
    padding-left: 88px;
    padding-top: 24px;
    margin-bottom: 40px;

    font-size: 60px;
    line-height: 60px;
    color: #111111;
  }

  .offer__sentence {
    order: -2;
    padding-left: 90px;
    margin-bottom: 48px;

    font-size: 20px;
    line-height: 20px;
    color: #111111;
  }

  .offer__image {
    margin-top: -102px;
    width: 709px;
    height: 609px;
    margin-bottom: 0;
  }

  .offer__button {
    order: -1;
    z-index: 10;

    margin-left: 89px;
    width: 245px;
    min-height: 52px;
    padding-top: 15px;

    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .offer {
    flex-wrap: wrap;
    min-height: 644px;
    width: 1220px;
    padding-top: 0;
  }

  .offer__title {
    padding-top: 91px;
    padding-left: 80px;
    margin-bottom: 41px;
    width: 550px;
  }

  .offer__sentence {
    width: 630px;
    padding-left: 80px;
    padding-right: 100px;
    margin-bottom: 52px;
  }

  .offer__image {
    position: absolute;
    top: 10px;
    left: 450px;
    z-index: -1;

    margin-top: 0;
    width: 552px;
    height: 499px;
  }

  .offer__button {
    width: 245px;
    min-height: 52px;
    margin-left: 80px;
    margin-bottom: 80px;
  }
}
