.product {
  flex-grow: 1;
}

.product__link {
  text-decoration: none;
}

.product__name {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #111111;
}
