.site-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;

  @include no-list;
}

.site-list__item {
  width: 100%;
  text-align: center;

  border-top: 1px solid  #e6e6e6;
}

.site-list__item:last-of-type {
  border-bottom: 1px solid  #e6e6e6;
}

.site-list__link {
  display: block;
  min-height: 65px;
  padding-top: 23px;
  padding-bottom: 21px;

  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #111111;
}

.site-list__link[href] {
  &:hover,
  &:focus {
    color: rgba(17, 17, 17, 0.6);
  }

  &:active {
    color: rgba(17, 17, 17, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .site-list {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-right: 30px;
    width: 440px;
  }

  .site-list__item,
  .site-list__item:last-of-type {
    position: relative;
    width: auto;

    border: none;
  }

  .site-list__item--active::after {
    content: "";

    position: absolute;
    left: 0;
    top: 74px;

    width: 100%;
    height: 2px;

    background-color: #68b738;
  }

  .site-list__link {
    padding-top: 42px;

    font-size: 18px;
    line-height: 24.86px;
    color: #222222;
  }
}

@media (min-width: $desktop-width) {
  .site-list__item--active::after {
    top: 106px;
  }

  .site-list--index .site-list__item--active::after {
    background-color: #ffffff;
  }

  .site-list {
    width: 480px;
    margin-right: 40px;
  }

  .site-list__link {
    padding-top: 73px;
    padding-bottom: 34px;

    font-size: 20px;
  }

  .site-list__link--index {
    color: #ffffff;
  }

  .site-list__link--index[href] {
    &:hover,
    &:focus {
      color: rgba(255, 255, 255, 0.6);
    }

    &:active {
      color: rgba(255, 255, 255, 0.3);
    }
  }
}
