.site-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;

  @include no-list;
}

.site-list__item {
  width: 100%;
  text-align: center;

  border-top: 1px solid  #e6e6e6;
}

.site-list__item:last-of-type {
  border-bottom: 1px solid  #e6e6e6;
}

.site-list__link {
  display: block;
  min-height: 65px;
  padding-top: 23px;
  padding-bottom: 21px;

  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #111111;
}

@media (min-width: $tablet-width) {
  .site-list {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-right: 30px;
    width: 440px;
  }

  .site-list__item,
  .site-list__item:last-of-type {
    width: auto;

    border: none;
  }

  .site-list__link {
    padding-top: 47px;

    font-size: 18px;
    line-height: 24.86px;
    color: #222222;
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    width: 480px;
    margin-right: 40px;
  }

  .site-list__link {
    padding-top: 77px;
    padding-bottom: 34px;

    font-size: 20px;
    color: ffffff;
  }
}
